@font-face{
  font-family: Neutra;
  src: url("../fonts/neutra-book.woff2")
}

@font-face{
  font-family: Neutra;
  src: url("../fonts/neutra-bold.woff2")
  font-weight:bold;
}

*{
  font-family: Neutra, Helvetica, sans-serif;
}
